
.details {
    margin-left:100px;
    margin-top:100px;
}

.details-info {
    /*text-align: center; */
    clear:both;
}

.details b {
    margin-left: 1em;
    float:left;
    clear:both;
}

.details span {
    float:left;
}

.details img {
    float:left;
    margin-left:20px;
}


.appicon {
    background-image: url(../images/work_neptune.png);
    background-repeat: no-repeat;
    background-size: 25px;
    display: inline-block;
    height: 25px; 
    padding-left: 30px;    
}

.appicon span {
    height: 25px; 
    display: table-cell;
    vertical-align: middle;
}

.tn {
    float:left;
}

.tn-text {
    float:left;
    padding:10px;
}

.tn-text b {
    float:left;
    clear:both;
}

.tn-text span {
    float:left;
}

#bim-header {
    background-color: #157fcc;
}

#bim-header-title {
    background: url("../images/work_neptune.png") no-repeat scroll 10px 11px rgba(0, 0, 0, 0);
    color: #FFFFFF;
    font-size: 20px;
    /*font-weight: bold;*/
    padding: 12px 10px 10px 45px;
    /*text-shadow: 0 1px 0 #4E691F;*/
}

#bim-navigator {
    padding:5px;
}

.userdisplay span {
    //clear:both;
    //float:right;
}

.x-mask {
    /*
    filter: alpha(opacity=100);
    opacity: 1;    
    background: white;
    */
}